@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model  List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<table class="table table-hover">
    <tr>

        <th>SERİ/SIRA NO</th>

        <th>TARİH</th>
        <th>SAAT</th>
        <th>TOPLAM TUTAR</th>
        <th>GÜNCELLE</th>
        <th> DETAYLAR</th>
        <th> Popup Liste</th>
        <th> Yeni Kalem</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.FaturaSeriNo @x.FaturaSıraNo</td>

            <td>@x.Tarih</td>
            <td>@x.Saat</td>
            <td>@x.ToplamTutar ₺</td>
            <td><a href="/Fatura/FaturaGetir/@x.FaturaId" class="btn btn-success">Güncelle</a></td>
            <td>
                <a href="/Fatura/FaturaDetay/@x.FaturaId" class="btn btn-default" style="background-color: #546E7A; color: white; ">Detay</a>
            </td>
            <td>
                <a href="/Fatura/FaturaDetay/@x.FaturaId" class="btn btn-default" style="background-color:#ff6a00; color: white; ">Popup </a>
            </td>
            <td>
                <a href="/Fatura/FaturaDetay/@x.FaturaId" class="btn btn-default" style="background-color: #2F4F4F; color: white; ">Kalem</a>
            </td>
        </tr>
    }

</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Yeni Fatura Girişi</a>

