@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket>

@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Detay Bilgisi</h2>
<br />
<table class="table table-hover">

    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>

        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam Tutar</th>
        <th>Tarih</th>
     
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SatisId</td>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>

            <td>@x.Fiyat</td>
            <td>@x.Adet</td>
            <td>@x.Toplamtutar</td>
            <td>@x.Tarih</td>

        </tr>
    }
</table>
<br />

<a href="#" class="btn btn-default" style="background-color:#8a96c6; color: white;">
    <i class="fas fa-print"></i> Yazdır
</a>