@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model  List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
<br />
<link rel="stylesheet" href="~/Content/DataTables/css/photo-frame.css" />
<table class="table table-striped">
    <tr>

        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT </th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞ YAP</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.UrunAd</td>
            <td>@x.Marka</td>
            <td>@x.Stok</td>
            <td>@x.AlisFiyat ₺</td>
            <td>@x.SAtisFiyat ₺</td>
            <td>@(x.Kategori != null ? x.Kategori.KategoriAd : "Kategori Yok")</td>
            <td>
                <a href="@x.UrunGorsel" class="d-block photo-item" data-fancybox="gallery">
                    <div class="photo-frame">
                        <img src="@x.UrunGorsel" class="rounded-circle" />
                    </div>
                    <div class="photo-text-more">
                        <span class="icon icon-search"></span>
                    </div>
                </a>

            </td>
            <td> <a href="/Urun/UrunSil/@x.UrunId" class="btn btn-danger">Sil</a></td>
            <td> <a href="/Urun/UrunGetir/@x.UrunId" class="btn btn-success">Güncelle</a></td>
            <td> <a href="/Urun/SatisYap/@x.UrunId" class="btn btn-default" style="background-color: #455A64; color: white;">Satış Yap</a></td>

        </tr>
    }

</table>
<br />
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün Ekle</a>


