@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>PERSONEL ADI</th>
        <th>PERSONEL SOYAD</th>
        <th>GÖRSEL</th>
        <th>DEPARTMAN</th>
        <th>GÜNCELLE</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelId</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>@x.PersonelGorsel</td>
            <td>@x.Departman.Departmanad</td>
          
            <td><a href="/Personel/PersonelGetir/@x.PersonelId" class="btn btn-success">Güncelle</a></td>
            <td>
                <a href="/Departman/DepartmanPersonelSatis/@x.PersonelId" class="btn btn-default" style="background-color: #546E7A; color: white; ">Detay</a>
            </td>
        </tr>
    }
</table>

<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

